#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Timer
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://polytimer.rocks --window-size=200x200
Icon=/home/jack/.local/share/icons/alarm.png
StartupWMClass=alarm_class
